<div class="container">
  <h2>Grouping form controls</h2>
{{name.value | json}}
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div>
    <label>
      First Name:
      <input type="text" class="form-control" formControlName="firstName" required>
    </label>
  </div>

  <div *ngIf="name.invalid && (name.dirty || name.touched)"
    class="alert alert-danger">
    <div *ngIf="name.errors.required">
      Name is required.
    </div>
    <div *ngIf="name.errors.minlength">
      Name must be at least 4 characters long.
    </div>
    <div *ngIf="name.errors.forbiddenName">
      Name cannot be coward.
    </div>
  </div>
  <div>
    <label>
      Last Name:
      <input type="text" class="form-control" formControlName="lastName">
    </label>
  </div>
  <div *ngIf="name.errors?.identityRevealed && (name.touched || name.dirty)" class="cross-validation-error-message alert alert-danger">
    Name cannot match alter ego.
</div>
  <div formGroupName="address">
    <h3>Address</h3>
    <div>
      <label>
        Street:
        <input type="text" class="form-control" formControlName="street">
      </label>
    </div>
    <div>
      <label>
        City:
        <input type="text" class="form-control" formControlName="city">
      </label>
    </div>
    <div>
      <label>
        State:
        <input type="text" class="form-control" formControlName="state">
      </label>
    </div>
    <div>
      <label>
        Zip Code:
        <input type="text" class="form-control" formControlName="zip">
      </label>
    </div>
  </div>
  <div formArrayName="aliases">
    <h3>Aliases</h3> <button (click)="addAlias()">Add Alias</button>

    <div *ngFor="let address of aliases.controls; let i=index">
      <!-- The repeated alias template -->
      <div>
        <label>
          Alias:
          <input type="text" class="form-control" [formControlName]="i">
        </label>
      </div>
    </div>
  </div>
  <button type="submit" id="btn" class="btn" (click)="updateProfile()" [disabled]="profileForm.invalid">Submit</button>
</form>

<p>
  {{profileForm.value | json}}
</p>
<p>
  Status: {{profileForm.status}}
</p>

</div>
